<!DOCTYPE html>

<html lang="en">
	<head>
		<title>Fancy Tal</title>
				
		<!-- Angular Lib -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.0-alpha0/angular-ui-router.min.js"></script>

		<!-- JQuery -->
		<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
		
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		
		<!-- Modules, Must Import before Controllers and Services -->
		<script src="/javascripts/modules/MainModule.js"></script>
		
		<!-- Controllers -->
		<script src="/javascripts/controllers/ContestantsCtrl.js"></script>
		<script src="/javascripts/controllers/GrandEntryCtrl.js"></script>
		<script src="/javascripts/controllers/RosterCtrl.js"></script>
		<script src="/javascripts/controllers/RegistrationCtrl.js"></script>
		<script src="/javascripts/controllers/ScoreCtrl.js"></script>
		
		<!-- Services -->
		<script src="/javascripts/services/factory.js"></script>
		
		<!-- Stylesheets -->
		<link rel="stylesheet" href="/stylesheets/index.css">				
	</head>

	<body ng-app="powwow">
		<div ng-include src="'./partials/layout/header_partial.html'"></div>
		<div ng-include src="'./partials/layout/nav_partial.html'"></div>
		<main>
			<section id="content">
				<ui-view></ui-view>
			</section>
		</main>

		<!-- content partials -->
		<script type="text/ng-template" id="/roster.html"><div ng-include src="'./partials/roster_partial.html'"></div></script>
		<script type="text/ng-template" id="/registration.html"><div ng-include src="'./partials/registration_partial.html'"></div></script>
		<script type="text/ng-template" id="/score.html"><div ng-include src="'./partials/score_partial.html'"></div></script>
  	<script type="text/ng-template" id="/grandentry.html"><div ng-include src="'./partials/grand_entry_partial.html'"></div></script>
		<script type="text/ng-template" id="/contestants.html"><div ng-include src="'./partials/contestant_partial.html'"></div></script>
	</body>
</html>
