/* Registration */

#registration {
	display: flex;
	justify-content: center;
}

#form-section {
	margin: 1rem;
}

#category-section {
	margin: 1rem;
	margin-left: 4rem;
}

#submit-button {
	margin: 0 auto;
}


* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
}
main {
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 1500px;
  width: auto;
}
img {
  height: 200px;
}
header {
  position: relative;
  background-color: #337ab7;
}
h1 {
  color: white !important;
  font-family: fantasy !important;
  margin: 0 !important;
  padding: .5rem;
  text-align: center;
}

.table-title {
	background-color: #f0ad4e;
	color: #000000;
	text-align: center;
	font-weight: bold;
	font-size: medium;
	font-variant: normal;
	font-style: normal;

}