<nav class="bg-info">
  <ul class="nav nav-tabs">
    <li data-toggle="tab"><a href="#/roster">Roster</a></li>
    <li data-toggle="tab" class="active"><a href="#/registration">Registration</a></li>
    <li data-toggle="tab"><a href="#/score">Score</a></li>
    <li data-toggle="tab"><a href="#/grandentry">Grand Entry</a></li>
  </ul>
</nav>