<div class="col-md-6 col-md-offset-3">
  <div class="page-header">
  <h2>
    {{contestant.contestant.id}}
  </h2>
  </div>
    <p style="font-size:15px; margin-left:10px;">
      Last Name: {{contestant.contestant.last_name}}
      <br>
      First Name: {{contestant.contestant.first_name}}
      <br>
      Birthday: {{contestant.contestant.birthday}}
      <br>
      Tribes: {{contestant.contestant.tribes}}
      <br>
      Address:
      <br>
      {{contestant.contestant.address}}
      <br>
      {{contestant.contestant.city}}
      <br>
      {{contestant.contestant.state}}
      <br>
      {{contestant.contestant.zip_code}}
      <br>
      Phone: {{contestant.contestant.phone}}
      <br>
      Email: {{contestant.contestant.email}}
      <br>
      <br>
      Events:
      <div ng-repeat="event in contestant.events">
        <p style="font-size:15px; margin-left:10px;">
          {{event.category}}
        </p>
        <p style="font-size:15px; margin-left:30px;">
          Round One: {{event.roundOneScore}}
          <br>
          Round Two: {{event.roundTwoScore}}
          <br>
          Round Three: {{event.roundThreeScore}}
          <br>
          Round Four: {{event.roundFourScore}}
          <br>
          Extra Points: {{event.extraPoints}}
          <br />
          Grand Entry 1: {{contestant.contestant.grand_entry_1}}
          <br>
          Grand Entry 2: {{contestant.contestant.grand_entry_2}}
          <br>
          Grand Entry 3: {{contestant.contestant.grand_entry_3}}
          <br>
          Grand Entry 4: {{contestant.contestant.grand_entry_3}}
        </p>
      </div>
    </p>
</div>