<table class="table table-bordered">
  <caption>Grand Entry</caption>
  <tr>
    <th>#</th>
    <th>Grand Entry 1</th>
    <th>Grand Entry 2</th>
    <th>Grand Entry 3</th>
    <th>Grand Entry 4</th>
  </tr>
  <tr ng-repeat="contestant in contestants | orderBy: 'id'">
    <td><a href="#/contestants/{{contestant._id}}">{{contestant.id}}</a></td>
    <td ng-class="{'bg-success': contestant.grand_entry_1}" ng-click="change(contestant, 1)">
      <input type="checkbox" ng-model="contestant.grand_entry_1" ng-change="update(contestant, 1)"/>
    </td>
    <td ng-class="{'bg-success': contestant.grand_entry_2}" ng-click="change(contestant, 2)">
      <input type="checkbox" ng-model="contestant.grand_entry_2" ng-change="update(contestant, 2)" />
    </td>
    <td ng-class="{'bg-success': contestant.grand_entry_3}" ng-click="change(contestant, 3)">
      <input type="checkbox" ng-model="contestant.grand_entry_3" ng-change="update(contestant, 3)" />
    </td>
    <td ng-class="{'bg-success': contestant.grand_entry_4}" ng-click="change(contestant, 4)">
      <input type="checkbox" ng-model="contestant.grand_entry_4" ng-change="update(contestant, 4)" />
    </td>
  </tr>
</table>