<form ng-submit = "registerContestant()">
  <section id="registration">
    <section id="form-section">
      <p>Enter Info, Number should be Written on Registration Sheet</p>
      <div class="form-group">
      Last Name: 
      <input type="text"
          class="form-control"
          ng-model="last_name"></input>
      </div>
      <div class="form-group">
        First Name:
        <input type="text"
          class="form-control"
          ng-model="first_name"></input>
      </div>
      <div class="form-group">
        Birthday:
        <input type="date"
          class="form-control"
          ng-model="birthday"></input>
      </div>
      <div class="form-group">
        Tribe(s):
        <input type="text"
          class="form-control"
          ng-model="tribes"></input>
      </div>
      <div class="form-group">
        Address:
        <input type="text"
          class="form-control"
          ng-model="address"></input>
      </div>
      <div class="form-group">
        City/Town:
        <input type="text"
          class="form-control"
          ng-model="city"></input>
      </div>
      <div class="form-group">
        State/Providence:
        <input type="text"
          class="form-control"
          ng-model="state"></input>
      </div>
      <div class="form-group">
        Zip Code:
        <input type="number"
          class="form-control"
          ng-model="zipCode"
          min="0"
          max="99999"></input>
      </div>
      <div class="form-group">
        Phone:
        <input type="text"
          class="form-control"
          ng-model="phone"></input>
      </div>
      <!--<div class="form-group">
        ID:
        <input type="number"
          class="form-control"
          placeholder="(no spaces, ex. 123456789)"
          max="999999999"
          min="0"></input>
      </div>-->
      <div class="form-group">
        Email (optional):
        <input type="text"
          class="form-control"
          ng-model="email"></input>
      </div>
      <div class="form-group">
        Dancer Number:
        <input type="number"
          class="form-control"
          ng-model="id"
          min="1"
          max="999"></input>
      </div>
    </section>
    <section id="category-section">
      <span>Categories:</span>
      <div ng-repeat="category in categories">
        <input type="checkbox" ng-model="category.checked" />
        <span ng-class="{selected: category.checked}" >{{category.value}}</span>
      </div>
    </section>
  </section>
  <button type="submit" class="btn btn-primary btn-lg btn-block" id="submit-button">Submit</button>
</form>