<table class="table table-hover">
  <caption>Total: {{contestants.length}}</caption>
  <tr>
    <th>#</th>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Delete</th>
  </tr>
  <tr ng-repeat="contestant in contestants | orderBy: 'id'">
    <td><a href="#/contestants/{{contestant._id}}">{{contestant.id}}</a></td>
    <td>{{contestant.last_name}}</td>
    <td>{{contestant.first_name}}</td>
    <td><button ng-click="removeContestant(contestant)" class="btn btn-danger btn-xs">Delete</button></td>
  </tr>
</table>