<div class="btn-group btn-group-justified" role="group" aria-label="...">
      
        <!-- Men's Drop Down Menu -->
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Men's <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li ng-repeat="item in mens" ng-click="getContestants(item)"><a>{{item}}</a></li>
            </ul>
          </div>
        </div>
        
        <!-- Women's Drop Down Menu -->
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Women's <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li ng-repeat="item in womens" ng-click="getContestants(item)"><a>{{item}}</a></li>
            </ul>
          </div>
        </div>
        
        <!-- Other Down Menu -->
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Other <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li ng-repeat="item in other" ng-click="getContestants(item)"><a>{{item}}</a></li>
            </ul>
          </div>
        </div>
        
      </div>
      
    <table class="table table-hover table-striped">
      <caption>{{category}}</caption>
      <tr>
        <th>Number</th>
    <th>Total</th>
    <th>Round 1</th>
    <th>Round 2</th>
    <th>Round 3</th>
    <th>Round 4</th>
    <th>Extra</th>
    <th>GE 1</th>
    <th>GE 2</th>
    <th>GE 3</th>
    <th>GE 4</th>
    </tr>
    <tr ng-repeat="contestant in contestants | orderBy: 'contestant.id'">
    <td><a href="#/contestants/{{contestant.contestant._id}}">{{contestant.contestant.id}}</a></td>
    <td><strong>{{contestant.totalPoints}}</strong></td>
    <td><input type="text" 
      size="2px" placeholder="contestant.event.roundOneScore" 
      ng-model="contestant.event.roundOneScore" ng-blur="updateScore(contestant, 1)" 
      ng-focus="setPrevValue(contestant.event.roundOneScore)"></input></td>
    <td><input type="text"
      size="2px" placeholder="contestant.event.roundTwoScore"
      ng-model="contestant.event.roundTwoScore"
      ng-blur="updateScore(contestant, 2)"
      ng-focus="setPrevValue(contestant.event.roundTwoScore)"></input></td>
    <td><input type="text"
      size="2px" placeholder="contestant.event.roundThreeScore"
      ng-model="contestant.event.roundThreeScore"
      ng-blur="updateScore(contestant, 3)"
      ng-focus="setPrevValue(contestant.event.roundThreeScore)"></input></td>
    <td><input type="text"
      size="2px" placeholder="contestant.event.roundFourScore"
      ng-model="contestant.event.roundFourScore"
      ng-blur="updateScore(contestant, 4)"
      ng-focus="setPrevValue(contestant.event.roundFourScore)"></input></td>
    <td><input type="text"
      size="2px" placeholder="contestant.event.extraPoints"
      ng-model="contestant.event.extraPoints"
      ng-blur="updateScore(contestant, 5)"
      ng-focus="setPrevValue(contestant.event.extraPoints)"></input></td>
    <td ng-class="{'success': contestant.contestant.grand_entry_1,
                    'danger': !contestant.contestant.grand_entry_1}">
      <span ng-hide="contestant.contestant.grand_entry_1">0</span>
      <span ng-hide="!contestant.contestant.grand_entry_1">{{GRAND_ENTRY_POINTS}}</span></td>
    <td ng-class="{'success': contestant.contestant.grand_entry_2,
                    'danger': !contestant.contestant.grand_entry_2}">     
      <span ng-hide="contestant.contestant.grand_entry_2">0</span>
      <span ng-hide="!contestant.contestant.grand_entry_2">{{GRAND_ENTRY_POINTS}}</span></td>
    <td ng-class="{'success': contestant.contestant.grand_entry_3,
                    'danger': !contestant.contestant.grand_entry_3}">
      <span ng-hide="contestant.contestant.grand_entry_3">0</span>
      <span ng-hide="!contestant.contestant.grand_entry_3">{{GRAND_ENTRY_POINTS}}</span></td>
    <td ng-class="{'success': contestant.contestant.grand_entry_4,
                    'danger': !contestant.contestant.grand_entry_4}">
      <span ng-hide="contestant.contestant.grand_entry_4">0</span>
      <span ng-hide="!contestant.contestant.grand_entry_4">{{GRAND_ENTRY_POINTS}}</span></td>
        </tr>
    </table>